services:
  web-app:
    build:
      context: .
    ports:
      - "80:8080"
    environment:
      - WELCOME_MESSAGE=Greetings from Varna!
    depends_on:
      - redis-db

  redis-db:
    image: "redis:alpine"
